@media screen and (min-width: 375px) {
    .main-div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        grid: none;
        .left {
            // width: 75% !important;
            // .row {
            //     margin-right: 15px !important;
            //     .col {
            //         flex-basis: 1 !important;
            //     }
            // }
        }
        .right {
            // width: 25% !important;
        }
    }

    .card {
        width: 100%;
    }
}

