@media screen and (min-width: 375px) {
  .main-div {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    grid: none;
  }

  .card {
    width: 100%;
  }
}

